{% set cronie = salt['grains.filter_by']({
	  'Arch': {
        'pkg': 'cronie',
        'service': 'cronie',
    },
    default: {
        'pkg': 'cron',
        'service': 'cron',
    },
}, grain="os_family", merge=salt['pillar.get']('cronie:lookup')) %}
